# Vaatimukset järjestelmän suorittamiseen
pdfplumber
pytesseract
Pillow
spacy
opencv-python
nltk
sentence-transformers
faiss-cpu
prompt_toolkit
rank_bm25
textblob
python-docx
pandas
pyyaml
blosc
psutil
summa
easyocr
cachetools
tqdm
langdetect
flask
flask-wtf
werkzeug
flask-login
celery
flask-socketio
sqlalchemy
redis
alembic
matplotlib
scikit-learn
elasticsearch
flask-limiter
transformers
hdbscan
tenacity